<p>Dear <%= @user.first_name %></p>

<p>Your application has been reviewed and we have good news:</p>
<h4>You got accepted for a VOLUNTEASY job!</h4>
<p>Check it out on <a href="www.volunteasy.site">www.volunteasy.site</a></p>
<p>All the best, your VOLUNTEASY Team</p>
