// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 300px 0;
<<<<<<< HEAD
  height: 100%;
=======
>>>>>>> f2d57edc7e5da1e03f310efbadebe64132e57d37
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

<<<<<<< HEAD
.buttom_landingpage {
=======
.button_landingpage {
>>>>>>> f2d57edc7e5da1e03f310efbadebe64132e57d37
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
<<<<<<< HEAD
}
=======
}// Specific CSS for your home-page

>>>>>>> f2d57edc7e5da1e03f310efbadebe64132e57d37
