<ul class="list-group">
  <% @bookings.each do |booking| %>
    <li class="list-group-item">
      Booking status:
      <%= booking.status %>
      <% if booking.status == "Pending"%>
        <input type="submit" method="POST" name="Change Booking status" label="change">
        <button class="btn btn-primary"><%= booking.status %></button>
      <% elsif booking.status == "Confirmed" %>
        <button class="btn btn-success"><%= booking.status %></button>
      <% end %>
    </li>
  <% end %>
</ul>
