<footer class="footer">
  <div class="container text-center">
    <p style="color:#00ffa1" class="copyright">Copyright 2019 Volunteasy Inc. All Rights Reserved.</p>
    <a href="#"><i style="color:#00ffa1" class="fab fa-github"></i></a>
    <a href="#"><i style="color:#00ffa1" class="fab fa-instagram"></i></a>
    <a href="#"><i style="color:#00ffa1" class="fab fa-facebook"></i></a>
    <a href="#"><i style="color:#00ffa1" class="fab fa-twitter"></i></a>
    <a href="#"><i style="color:#00ffa1" class="fab fa-linkedin"></i></a>
  </div><!--End container-->
</footer><!--End footer 2-->
