<h2><%= event.title %></h2>
        <p><i class="fas fa-map-marker-alt"></i> <%= event.address %></p>
        <%= link_to "More Information", event, class:"btn btn-sm btn-event-index" %>
        </button>
