<div class="container" id="index">
  <div class="flexbox-container">
    <h3 class="py-4" style="color:white">Events</h3>
  </div>
  <div class="card-container">
    <div class="cards">
      <% @events.each do |event| %>
      <div class="card-product">
        <div class="card-image">
          <%= cl_image_tag(event.photo, width: 120, height: 150, crop: :fill) %>
        </div>
        <div class= "card-product-infos">
          <h2> <%= event.title %></h2>
          <p> <%= event.start_at.strftime("Starts %B %d at %I:%M %p") %></p>
          <% case event.category
             when event.category = "Animal" %>
            <i class="fas fa-paw" style="color:brown"></i>
             <% when event.category = "Environment" %>
            <i class="fas fa-leaf" style="color:green"></i>
             <% when event.category = "Community" %>
            <i class="fas fa-hands-helping"></i>
             <% else %>
             <p> " " </p>
           <% end %>
          <button class="btn button_landingpage"><%= link_to "More Information", event %></button>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

