
<div class="container">
  <div class="flexbox-container">
    <h2 class="py-4">Events</h2>
  </div>
  <div class="container m-16">
    <div class="cards">
      <% @events.each do |event| %>
      <div class="card">
        <div class="card-image">
          <%= cl_image_tag(event.photo, width: 300, height: 300, crop: :fill) %>
          <div class="d-flex justify-content-center">
          <button class="btn button_landingpage m-4"><%= link_to event.description, event %></button>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

