<div class="banner" style="background-image: url(https://res.cloudinary.com/dj1bs7vyp/image/upload/v1559050960/volunteers_er7ryk.jpg)">
  <div class="container">
    <div class="d-flex justify-content-center">
        <img src="https://res.cloudinary.com/dj1bs7vyp/image/upload/v1559050731/Volunteasy_3_cqvqed.png" alt="">
    </div>
    <div class="d-flex justify-content-center flex-column">
      <p>Volunteasy connects non profit organizations with volunteers to better the world and make doing good easy.</p>
      <p>“Don’t explain your philosophy. Embody it.” ― Epictetus</p>
    </div>
    <!-- <div class="d-flex justify-content-center">
        <%#= link_to "Do Good", new_user_registration_path, class:'btn btn-flat button_landingpage' %>
    <%# if user_signed_in? %>
        <%#= link_to "My profile", user_path, class:'btn btn-light p-3 mt-4 ml-4'  %>
      <%# end %>
    <%# end %>
    </div> -->
  </div>
</div>
