
  <div class="banner">
    <div class="container">
      <div class="d-flex justify-content-center">
          <img src="https://res.cloudinary.com/dj1bs7vyp/image/upload/v1559050731/Volunteasy_3_cqvqed.png" alt="">
      </div>
      <!-- <div class="d-flex justify-content-center flex-column">
        <div class = "transbox">
        <div class= "home-text" >Volunteasy connects non profit organizations with volunteers to better the world and make doing good easy.
        “Don’t explain your philosophy. Embody it.” ― Epictetus
        </div>
        </div>
      </div> -->


        <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <!-- <h2 id="byline" style="color:white;">Apply for an event with a click of a button.</h2> -->
            <div class="d-flex justify-content-center">
              <div class="wrapper-button">
      <% if user_signed_in? %>
          <%= link_to "Do Good", events_path, class:'btn btn-xlarge btn-event-index animation-button'  %>
            <% else %>
             <%= link_to "Do Good", new_user_registration_path, class:'btn btn-xlarge btn-event-index animation-button' %>
        <% end %>
        </div>
        </div>
      </div>

          </div>


      </div>
    </div>
  </div>
      <section class="page-section" id="how-to">
        <div class="container">
 <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase" style="color: #2d4877;">How it works</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
             <span class="fas fa-mouse-pointer fa-6x">
          </span>
               </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="subheading" style="color:#4BAC89;">Find an event!</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Browse through current event listings and find one that you want to contribute to</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                <span class="fas fa-fist-raised fa-6x">
                </span>
               </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="subheading" style="color:#4BAC89;">Apply!</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Once you've found an event you want to apply for, we'll let the charity know you're interested</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <span class="fas fa-check fa-6x">
                </span>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="subheading" style="color:#4BAC89;">Wait for confirmations</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">The charity will let you know if you're the right person for the job</p>
                </div>
              </div>
            </li>
              <li class="timeline-inverted">
              <div class="timeline-image">
                <h4 style="color: white; font-size: 28px;">DO
                  <br>
                  <br>GOOD!</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
        </div>
      </section>
      <section class="page-section" id="about">
    <div class="container" style="margin-top: 20px;">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="text-uppercase" style="color:#1FAB89;">About Volunteasy</h2>
          <h3 class="section-subheading text-muted"style="margin-top: 20px;">Volunteasy connects non profit organizations with volunteers to better the world and make doing good easy.</h3>
        <h2 class="section-subheading text-muted" style= "font-style: italic; margin-top: 40px; margin-bottom: 50px;" >“Don’t explain your philosophy.
        Embody it.” ― Epictetus</h2>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-paw fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Animals</h4>
          <p class="text-muted">Volunteering with animals is perfect for all you animal lovers out there who want to do something good! All over the world, there are animals in need of protection, be it endangered exotic species, street dogs, neglected horses, wildlife or marine animals. You'll make a real difference in the lives of animals, meet others who love animals, and have fun!</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-leaf fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Community</h4>
          <p class="text-muted">Community volunteering is about helping people, so that they can help themselves. There are many ways to uplift a community, building classrooms, teaching and sports coaching, the possibilities are endless if you are flexible, open-minded and pro-active.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-hands-helping fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Environment</h4>
          <p class="text-muted">
A whole host of organisations are doing their bit for environmental conservation, but they’d be the first to admit that the ordinary folk giving up their free time are equally crucial to the cause. You will be enhancing landscapes and living standards, harnessing green technology, Saving the ecosystem, and raising awareness</p>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-light page-section" id="team">
    <div class="container" style="margin-top: 20px;">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase" style="color:#2d4877;">The Volunteasy Team</h2>
          <h4 class="section-subheading text-muted" style="margin-top: 20px; margin-bottom: 20px;">Meet us for beers and business</h4>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="https://avatars3.githubusercontent.com/u/47563816?v=4" alt="">
            <h4>Jette Bakemeier</h4>
            <p class="text-muted">Product Owner</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="https://avatars1.githubusercontent.com/u/48610896?v=4" alt="">
            <h4>Aman S. Bharti</h4>
            <p class="text-muted">Director of Happiness</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="https://avatars1.githubusercontent.com/u/47259733?v=4" alt="">
            <h4>Isabella Ebihara</h4>
            <p class="text-muted">Lead Developer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="https://res.cloudinary.com/dj1bs7vyp/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,b_rgb:262c35/v1559573317/220px-Draco_Mal_blbxhn.jpg" alt="">
            <h4>Kate FitzGerald</h4>
            <p class="text-muted">Lead Designer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
     <!-- f -->
      </div>
    </div>
  </section>

    </div>
  </div>
</div>
