<div class="banner" style="background-image: url(https://res.cloudinary.com/dj1bs7vyp/image/upload/v1558972421/volunteers_er7ryk.jpg);">
  <div class="container">
    <div class="d-flex justify-content-center">
        <span class="fa-stack fa-10x">
            <i class="fa fa-globe-europe fa-stack-10x" style="color:grey;"></i>
              <span class="fa fa-stack-1x" style="color:white;">
                  <span style="font-size:35px; vertical-align: top;">
                      <div class ="homepagelogotext">Volunteasy</div>
                  </span>
            </span>
        </span>
    </div>
    <div class="d-flex justify-content-center flex-column">
      <p>Volunteasy connects non profit organizations with volunteers to better the world and make doing good easy.</p>
      <p>“Don’t explain your philosophy. Embody it.” ― Epictetus</p>
    </div>
    <div class="d-flex justify-content-center">
      <a class="btn btn-flat button_landingpage" href="#">Do good!</a>
    </div>
  </div>
</div>
