<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dj1bs7vyp/image/upload/v1558972421/volunteers_er7ryk.jpg);">
  <div class="container">
    <h1><strong>Volunteasy</strong></h1>
    <p>Volunteasy connects non profit organizations with volunteers to better the world and make doing good easy.</p>
    <p>“Don’t explain your philosophy. Embody it.” ― Epictetus</p>
    <a class="btn btn-dark p-3 mt-4'" href="#">Do Good!</a>
  </div>
</div>
