.banner {
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  background-image: url("https://res.cloudinary.com/dj1bs7vyp/image/upload/v1559050960/volunteers_er7ryk.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

// linear-gradient(to right, rgba(33, 147, 176, 0.2), rgba(109, 213, 237, 0.2))

