.button_volunteasy {

  border-radius: 20px;
}

.btn {
  background: #1FAB89;
  border-radius: 20px;
  font-weight: 200;
  color: white;
  padding: 6px 12px !important;

  &:hover {
    color: white !important;
    background: darken(#1FAB89, 10%);
    //border-color: darken(#1FAB89, 10%);
  }
}

.btn-alert {
  background: #ffc107;
}

.btn-pending {
  background: orange;
}

.btn-confirmed {
  background: green;
  height: auto;
}

.btn-rejected {
  background: red;
}

.btn-cancelled {
  background: purple;
}

.btn-completed {
  background: #00B2EE ;

  &:hover {
    color: white !important;
    background: darken(#00B2EE, 15%);
  }

}


.btn-confirm {
  background: blue;
  height: auto;
  border-radius: 20px;
  font-size: 14px;
  margin: 2px;
  padding: 4px;
}

.btn-reject {
  background: red;
  height: auto;
  border-radius: 20px;
  font-size: 14px;
  margin: 2px;
  padding: 4px;
}

.btn-organization-show {
  background: white;
  border: 1px solid black;
  border-radius: 20px;
  color: black;
  padding: 8px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px auto;
}

.btn-organization-shows {
  background: darken(white, 10%);
  border: 1px solid black;
  border-radius: 20px;
  color: black;
  padding: 8px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px auto;

  &:hover {
    color: white !important;
    background: darken(white, 30%);
    text-decoration: none;
    //border-color: darken(#1FAB89, 10%);
  }
}



#link-organization {
  color: grey;
}

#link-organization:hover {
  color:black;
  text-decoration: underline;
}

.btn-event-index   {
  background: #1FAB89;
  color: white;
  border-radius: 20px;
  padding: 6px 12px !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px auto;
}

.login-button {
  color: black;
  background-color: #1FAB89;
  border-radius: 10px;
  margin-top: -8px;
  padding-left: 11px;
  margin-left: 5px;
}

.buttons_forall {
  border-radius: 20px;
  padding: 8px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px auto;
  font-size: 1rem;
  background: white;
}

