.button_volunteasy {

  border-radius: 5%;
}

.btn {
  background: #1FAB89;
}

.btn-alert {
  background: #ffc107;
}

.btn-pending {
  background: orange;
}

.btn-confirmed {
  background: green;
}

.btn-rejected {
  background: red;
}

.btn-cancelled {
  background: purple;
}

.btn-completed {
  background: blue;
}

.btn-confirm {
  background: blue;
}

.btn-reject {
  background: red;
}
