.button_volunteasy {

  border-radius: 5%;
}

.btn {
  background: #1FAB89;
}

.btn-alert {
  background: #ffc107;
}

.btn-pending {
  background: orange;
}

.btn-confirmed {
  background: green;
}

.btn-rejected {
  background: red;
}

.btn-cancelled {
  background: purple;
}

.btn-completed {
  background: blue;
}


.btn-confirm {
  background: blue;
}

.btn-reject {
  background: red;
}

.btn-organization-show {
  background: white;
  border: 1px solid black;
  border-radius: 25px;
  color: black;
  padding: 8px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px auto;
}

.btn-organization-show:hover {
  background: white;
  border: 1px solid black;
  border-radius: 25px;
  color: grey;
  padding: 8px 7px;
  text-align: center;
  display: inline-block;
  margin: 5px auto;
}


#link-organization {
  color: grey;
}

#link-organization:hover {
  color:black;
  text-decoration: underline;
}

.btn-event-index   {
  background: #76d3b1;
  color: white;
  border-radius: 20px;
  padding: 8px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px auto;
}
