.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  grid-row-end: 16px;
}

.card {
display: flex;
background-color: white;
flex-direction: column;
margin: 20px;
height: auto;
width: 300px;
justify-content: space-around;
align-items: center;
box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .1);
border-radius: 2px;
}

.card-event-show {
 display: flex;
 background-color: white;
 flex-direction: column;
 padding: 20px;
 height: 400px;
 width: 600px;
 justify-content: space-around;
 align-items: center;
 box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .1);
 border-radius: 5px;
}

.card-do-good {
 display: flex;
 background-color: white;
 flex-direction: column;
 margin: 20px;
 padding: 20px;
 height: auto;
 width: 300px;
 justify-content: left;
 align-items: left;
 box-shadow: 6px 6px 2px 1px rgba(0, 0, 255, .1);
 border-radius: 2px;
}

.card-image {
  height: auto;
  width: 300px;
  object-fit: crop;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.card-product img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  margin: 0;
}

.card-product p {
color: #333333;
font-size: 13px;
margin: 0px;
}


.card-product-infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  top: -4px;
}

.card-product .btn {
  font-size: 12px;
  padding: 6px;
  margin-top: 4px;
}

.card-product .btn a {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: white;
}

.card-container {
  margin: 16px;
}


.card-background {
  position: relative;
  // display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  width:100%;
}

#organization-show {
  width: 700px;
  padding: 20px 20px;
  margin: 20px auto;
}

.icon-size {
  width: 20px;
}


.profile-image {
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.product-title {


}

.overlay-image {
 position: relative;
 width: 100%;
}

.overlay-image .image {
 display: block;
 width: 100%;
 object-fit: cover;
 height: 200px;
}

.overlay-image .text {
 color: #fff;
 font-size: 20px;
 line-height: 1.5em;
 text-shadow: 2px 2px 2px #000;
 // text-align: right;
 position: absolute;
 top: 8px;
 left: 16px;
 // transform: translate(-50%, -50%);
 width: 100%;

}

.category-position {
  position: relative;
  right: -78px;
  top: -6px;
}

.event-show-img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
