// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";


.events-index-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  grid-row-end: 16px;
  margin-top: 10px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.index-container {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.index-search {
    position: relative;
    width: 100%;
    margin-right: 14px;
}

.index-search input { text-indent: 18px;}

.index-search .fa-search {
    position: absolute;
    top: 20px;
    left: 15px;
    cursor: pointer;
    color: grey;
}
