// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";


.events-index-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  grid-row-end: 16px;
}
