.navbar-lewagon {
  justify-content: left;
  background: rgba(255,255,255,0.5);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon i {
  font-size: 30px;
}

.navbar-nav {
  justify-self: right;
}

.navbar h1 {
  font-size: 20px;
  text-align: justify;
}

.content-navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  h1 {
    margin-bottom: 3px;
    margin-left: 4px;
  }
}

.nav-link {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
