.navbar-lewagon {
  justify-content: space-between;
  background: #2d4877;
  color: #00ffa1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon a i {
  font-size: 30px;
  color: #00ffa1;
}

// .navbar-nav {
//   display: flex;
// }

.navbar h1 {
  font-size: 20px;
  text-align: justify;
  font-weight: bold;
}

.content-navbar {
  display: flex;
  align-items: flex-end;
}

.nav-link {
  right: 5px;
  bottom: 5px;
}


.navbar-nav {
  display: flex;
  flex-direction: row;
}

 .navbar-light .navbar-nav .nav-link {
  color: #00ffa1;
}

.navbar-collapse {
  right: 5px;
  bottom: 5px;
}

.navbar-container {
  justify-self: right;
}

.navbar body {
  background-color: #00ffa1
}

@media (min-width: 380px), (max-width: 576px) {
.navbar-expand-sm {
    justify-content: space-between;
}

}




