.navbar-lewagon {
  justify-content: left;
  background: #2d4877;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon i {
  font-size: 30px;
}

.navbar-nav {
  justify-self: right;
}

.navbar h1 {
  font-size: 20px;
  text-align: justify;
}

.content-navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-link {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

 .navbar-light .navbar-nav .nav-link {
  color: white;
}
