<div class="my-forms my-4">
  <div class="container py-3 purple-gradient color-block">
    <h5>Reviews</h5>

<% @reviews.each do |review| %>
<div class="container">
  <p>
    <% review.rating.times do %>
      <i class="fas fa-star"></i>
    <% end %>

    <% (5 - review.rating).times do %>
      <i class="far fa-star"></i>
    <% end %>
  </p>

  <%= review.content %>

</div>


<% end %>

</div>
</div>
